@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
  display: block;
  background:rgb(240, 242, 245);
}
.filter-container{
  .filter-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.table-operation-container{
  background-color: rgb(250, 250, 250);
  padding: 10px 15px;
  border-top: 1px solid rgb(235, 238, 245);
  border-left: 1px solid rgb(235, 238, 245);
  border-right: 1px solid rgb(235, 238, 245);
}
.table-header{
  th{
    background-color: rgb(250, 250, 250);
    color:#000;
  }
}
.el-dialog{
  border-radius: 5px;
  .el-dialog__header {
    border-bottom: 1px solid rgb(237, 237, 237);
  }
  .el-dialog__footer {
    border-top: 1px solid rgb(237, 237, 237);
    padding-bottom: 10px;
  }
}
